@charset "utf-8";


// ブログ単体ページ
.page-blog_top{
	margin-top: 110px;
}
.blog-box{
	max-width: 500px;
	margin: 30px auto 0;
	width: 90%;
	.blog-hizuke{
		text-align: right;
		margin-bottom: 10px;
		@include font-legular-bold;
		// md(768px以上)
		@include mq(tb){
			@include font-lage-bold;
		}
	}
	.blog-pct{
		margin-bottom: 20px;
		.sp-size img{
			width: 100%;
			border-radius: 10px;
		}
		.pc-size{
			display: none;
		}
	}
	.blog-text p{
		margin-bottom:20px;
		@include font-legular;
		text-align: justify;
	}
	.sakuhin-picter{
		text-align: center;
		.picter-box{
			margin-bottom: 20px;
			.pear{
				width: 100%;
				border-radius: 10px
			}
			.picter-explanation{
				@include font-legular-bold;
				text-align: left;
				// md(768px以上)
				@include mq(tb){
				@include font-lage-bold;
				}
			}
		}
	}
}
// md(768px以上)
@include mq(tb){
	.blog-box{
		max-width: 600px;
		// xl(1440px以上)
		@include mq(xl){
			max-width: 700px;
		}
		.blog-pct{
			.sp-size{
				display:none;
			}
			.pc-size{
				display: block;
				& img{
					width: 100%;
					border-radius: 10px;
				}
			}
		}
		.blog-text p{
			@include font-lage;
		}
		.sakuhin-picter{
			.flex{
				gap: 20px;
				display: flex;
				.picter-box{
					text-align: left;
					.pear{
						width: 100%;
						border-radius: 10px;
					}
					
				}
			}
			.flex-2{
				.picter-box{
					text-align: left;
					& img{
						width: 47.5%;
						border-radius: 10px;
					}
				}
			}
		}
	}
}
