
@charset "utf-8";

.btn{
    display: block;
    width: 250px;
    height: 60px;
    margin: 80px auto 0;
    background-color: $accent-color;
    border: 2px solid $accent-color;
    border-radius: 10px;
    &-text{
      color: #fff;
      text-align: center;
      line-height: 60px;
      font-size: 20px;
      font-weight: bold;
    }
    &:hover{
      background-color: #fff6dc;
      transition: 0.5s;
      .btn-text{
        color: $accent-color;
      }
    }
}
